$comfort-margin: 40px;

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1024;
}

.modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.modal-box {
  position: relative;
  width: 400px;
  margin: 20vh auto 0;
  padding: 60px $comfort-margin $comfort-margin;
  background-color: var(--modal-bg);
  border-radius: $border-radius-max;
}

.modal-header {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2;
  color: var(--modal-title);
  margin-bottom: 30px;
}

.modal-body {
  margin-bottom: 30px;

  &-input {
    $h: 50px;

    height: $h;
    background-color: var(--article-search-bg);
    border-radius: $border-radius-large;
    overflow: hidden;

    input {
      width: 100%;
      height: 100%;
      background-color: transparent;
      font-size: 1.3rem;
      text-align: center;
      color: var(--article-search-font);
    }

    &.active,
    &:hover {
      background-color: var(--modal-search-bg-hover);
    }

    &.error {
      animation: shakeit 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97);
    }
  }
}

.modal-footer {
  @extend %flex-center;

  justify-content: space-between;
  gap: $comfort-margin;

  button {
    flex: 1;
    height: 60px;
    border-radius: $border-radius-large;
    box-shadow: none;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;

    &.btn-cancel {
      color: var(--modal-btn-cancel);
      background-color: var(--modal-btn-cancel-bg);
    }
    &.btn-done {
      color: var(--modal-btn-done);
      background-color: var(--modal-btn-done-bg);
    }
  }
}

@keyframes shakeit {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
