#sentence {
  max-width: $large;
  margin: 0 auto;
}

.sentence-title {
  $height: 100px;

  @extend %flex-center;

  height: $height;
  margin-bottom: 40px;
  opacity: 0;
  animation: fade 0.2s linear forwards;

  h1 {
    font-size: 1.6rem;
    position: relative;
    margin: 0;
    color: var(--sentence-title);

    &::before {
      content: '“';
      position: absolute;
      top: 0;
      left: -1em;
      font-size: 1.2rem;
    }

    &::after {
      content: '”';
      position: absolute;
      top: 0;
      right: -1em;
      font-size: 1.2rem;
    }
  }
}

.sentence-box {
  margin-bottom: 20px;
  padding: 30px 60px;
  border-radius: $border-radius-large;
  opacity: 0;
  animation: fade 0.2s linear forwards, slideUp 0.2s linear forwards;

  &:hover,
  &.active {
    background-color: #f7f7f7;
  }

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    h4 {
      font-size: 1.8rem;
      font-weight: 500;
      text-transform: capitalize;
      color: var(--sentence-title);
    }

    span {
      color: var(--sentence-desc);
    }
  }

  &-desc {
    p {
      font-size: 1.5rem;
      line-height: 1.95;
      color: var(--sentence-desc);
      margin-bottom: 1.2em;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
