$white-ffffff: #fff;
$white-f7f7f7: #f7f7f7;
$white-f3f3f4: #f3f3f4;
$white-fefaf6: #fefaf6;
$white-dddddd: #ddd;
$white-d0d7de: #d0d7de;
$red-cc2b29: #cc2b29;
$red-cf222e: #cf222e;
$pink-fb7299: #fb7299;
$pink-ea4c89: #ea4c89;
$yellow-ffe411: #ffe411;
$blue-f6f8fa: #f6f8fa;
$blue-5085ec: #5085ec;
$blue-0960da: #0960da;
$blue-24507f: #24507f;

$gray-989da3: #989da3;
$gary-9e9ea7: #9e9ea7;
$gray-6e6d7a: #6e6d7a;
$gray-5b6066: #5b6066;
$gary-57606a: #57606a;
$black-3d3d4e: #3d3d4e;
$black-2b3138: #2b3138;
$black-2d2d2d: #2d2d2d;
$black-24292f: #24292f;
$black-191308: #191308;
$black-0d0c22: #0d0c22;

$rgba-black175: rgba(175, 184, 193, 0.2);

$hsla-white210: hsla(210, 18%, 87%, 1);
